# Do not include the Docker build pipeline itself.
build/Dockerfile
build/run-gulp-in-docker.sh

# Ignore all development artifacts so that the build is always clean.
.git
.tmp/
.tools/
dist/
node_modules/
