# This file defines default variables values used by npm scripts.
# More information can be found at:
#   https://docs.npmjs.com/files/npmrc
#   https://docs.npmjs.com/misc/config
#
# Config variables can be overridden by running:
#   npm run <script-name> --kubernetes-dashboard:<variable-name>=<path>
#   i.e. npm run start --kubernetes-dashboard:kubeconfig=/etc/kubernetes/admin.conf

# Used by:
#   start
#   start:prod
#   start-backend

kubernetes-dashboard:kubeconfig = ${HOME}/.kube/config

# Used by:
#   build-frontend

kubernetes-dashboard:frontend_build_dir = dist/frontend/en

# Used by:
#   start:prod

kubernetes-dashboard:dashboard_binary_path = dist/amd64/dashboard
