# This file defines default variables values used by npm scripts.
# More information can be found at:
#   https://docs.npmjs.com/files/npmrc
#   https://docs.npmjs.com/misc/config

# Used by:
#   start
#   start-backend
#
# Can be overridden by running 'npm run <script-name> --kubernetes-dashboard:kubeconfig=<path>'

kubernetes-dashboard:kubeconfig = ${HOME}/.kube/config


